{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}


{% block content %}
    
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: white;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{% static 'logos/prodenticare--logo.jpg' %}" alt="ProDenticare" width="120" height="80">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">The Dentist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Banner -->
    {% image self.banner_image original as banner_image %}
   
    <div class="hero-image" style="background-image:  linear-gradient(rgba(0, 0, 0, 0.8),   rgba(0, 0, 0, 0.8)), url({{ banner_image.url }})">
        <div class="hero-text" >
            <h2>{{ self.banner_text }}</h2>

            <a href="{{ self.banner_button_page.url }}" class="cta_btn btn btn-danger btn-lg">{{ self.banner_button_text }}</a>
        </div>
    </div>

{% endblock content %}
