{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}


{% block content %}
    <h1 class='services-title'>Services</h1>
    
    <div class="container">
        {% for service in services %}
            <div class="service">
                <h2><a class="text-link" href="{{ service.url }}">{{ service.name }}</a></h2>
                <p>{{ service.description|richtext|truncatewords:50 }}</p>
                <a class="btn btn-outline-primary" href="{{ service.url }}">Learn More</a>
            </div>
            <hr />
        {% endfor %}
       
    </div>
{% endblock content %}