{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}


{% block content %}
    <h1 class='page-title'>{{ self.title }}</h1>
    
    <div class="container">
        {% for service in services %}
            <div class="service">
                <h2><a class="g-link h2-font" href="{{ service.url }}">{{ service.name }}</a></h2>
                <p>{{ service.description|richtext|truncatewords:50 }}</p>
                <a class="btn btn-outline-danger" href="{{ service.url }}">Learn More</a>
            </div>
            <hr />
        {% endfor %}
       
    </div>
{% endblock content %}