{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/PRO_DENTICARE.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-md navbar-light" style="background-color: white;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'logos/prodenticare--logo.jpg' %}" alt="ProDenticare" width="120" height="80">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services/">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/the-dentist/">The Dentist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Appointment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Gallery</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        {% block content %}{% endblock %}

        <!-- Footer -->
        <footer>
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-12 col-md-6  footer-box-1">
                        <h2><span style="color: red;">Pro</span><span style="color: blue;">Denticare</span></h2>
                        <div class="footer-hr"></div>
                        <ul class="footer-list">
                            <li><a href="#" class="g-link">services</a></li>
                            <li><a href="#" class="g-link">appointment</a></li>
                            <li><a href="#" class="g-link">contact</a></li>
                            <li><a href="#" class="g-link">gallery</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-6 footer-box-2">
                        <h2>Socials</h2>
                         <div class="footer-hr"></div>
                        <ul class="footer-list">
                            <li><a href="#" class="g-link">facebook</a></li>
                            <li><a href="#" class="g-link">instagram</a></li>
                            <li><a href="#" class="g-link">twitter</a></li>
                            <li><a href="#" class="g-link">linkedin</a></li>
                        </ul>
                    </div>

                    <div class="col-12 text-center footer-box-3">
                        &copy; ProDenticare 2021 <!-- TODO: - use javascript to render the date -->
                    </div>
                </div>
            </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/PRO_DENTICARE.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
